* {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
  box-sizing: border-box;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(230, 168, 176);
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1000px;
  background: white;
  padding: 0px 10px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  color: rgb(157, 53, 70);
}

input,
select,
button {
  margin: 10px;
  padding: 15px;
  width: 90%;
  max-width: 300px;
  border: 1px solid rgb(183, 101, 115);
  border-radius: 5px;
}

#searchInput {
  margin-bottom: 30px;
}

button {
  background-color: rgb(182, 70, 89);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(157, 53, 70);
  scale: 1.02;
}

table {
  width: 100%;
  border: none;
  background-color: rgb(255, 254, 254);
  color: white;
  padding: 20px;
  border-radius: 10px;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th,
td {
  background-color: rgb(199, 93, 111);
  height: 20px;
  border: none;
  padding: 15px 30px;
  width: 35px;
  cursor: pointer;
  transition: 0.3s;
}

th {
  background-color: rgb(182, 70, 89);
}

th:hover,
td:hover {
  background-color: rgb(183, 74, 92);
  transform: scale(1.05);
}
